{% extends "layouts/main.html" %}
{% block title %}
Categories
{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3">Categories</h4>
            <hr class="mb-4" style="border-color:#b8bfc2;">
        </div>
    </div>
    <div class="row">
        {% for item in category %}
        <div class="col-md-4">
            <div class="card h-100 mb-4">
                <a href="{% url 'product_detail' item.id %}">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="Category Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
